.page {
  margin: 6rem 1rem 0;
  main {
    z-index: 1;
    p {
      margin: 3rem 0;
    }
    ul {
      border: 1px solid white;
      border-radius: 1rem;
      background-color: rgba(0,0,0,.8);
      color: white;
      margin: 3rem 1rem;

      p, li {
        margin: 1rem 0;
      }
    }
    img {
      // max-width: 95vw;
      border: 1px solid red;
    }
  }
}