.menuItemButton {
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: var(--transparent);
  height: var(--menuItemHeight);
  font-size: var(--menuItemFontSize);
  padding: 0;
  margin: 0;
  color: var(--fontMenu);
}

@media screen and (min-width: 1113px) {
  .menuItemButton {
    font-weight: 200;
  }
}